[user]
	email = fergusfettes@gmail.com
	name = fergus
[commit]
	template = /home/ffettes/.gitmessage
; [merge]
; 	conflictstyle = diff3
[init]
	templatedir = /home/ffettes/.config/.git_template/
[pull]
	rebase = false
